version: "3.9"

services:
  app:
    image: mainsystemsit/konex-crm:latest
    container_name: konex-crm
    restart: unless-stopped
    env_file: .env
    environment:
      RAILS_ENV: production

       # Databases
      DATABASE_URL: postgres://USUARIO_DO_BANCO:SENHA_DO_BANCO@IP_DO_BANCO/konex_crm
      REDIS_URL: redis://default:SENHA_DO_REDIS@IP_DO_BANCO:6379/DATABASE

      GOOD_JOB_EXECUTION_MODE: external
      LANGUAGE: pt-BR
      SWAGGER_ENABLED: true
      MOTOR_AUTH_USERNAME: admin
      MOTOR_AUTH_PASSWORD: "Mudar@123"
      FRONTEND_URL: http://localhost:5000
      ENABLE_USER_SIGNUP: false
      DEFAULT_TIMEZONE: Brasilia
    ports:
      - "5005:3000"
    networks:
      - konex_net

  sidekiq:
    image: mainsystemsit/konex-crm:latest
    container_name: konex-sidekiq
    restart: unless-stopped
    env_file: .env
    command: bundle exec sidekiq
    networks:
      - konex_net

networks:
  konex_net:
    driver: bridge
